# **Pulling data from SQL databases**

- SQL databases are one of the most used data storage tools in the world. Many companies have teams of several individuals responsible for creating and maintaining these databases, which typically store data crucial for day-to-day operations. These SQL databases are commonly used as source systems for a wide range of data pipelines.

  For this exercise, pandas has been imported as pd.

**Instructions**

- Update the connection URI to create a connection engine for the sales database, using sqlalchemy.
- Query all rows and columns of the sales table and output the results.

In [ ]:
import sqlalchemy

# Create a connection to the sales database
db_engine = sqlalchemy.create_engine("postgresql+psycopg2://repl:password@localhost:5432/sales")

# Query the sales table
raw_sales_data = pd.read_sql("SELECT * FROM sales", db_engine)
print(raw_sales_data)

In [ ]:
    order_id                   product  quantity_ordered   price_each      order_date                           purchase_address
0      259358    34in Ultrawide Monitor                 1      379.99  10/28/19 10:56            609 Cherry St, Dallas, TX 75001
1      259359    27in 4K Gaming Monitor                 1      389.99  10/28/19 17:26          225 5th St, Los Angeles, CA 90001
2      259360    AAA Batteries (4-pack)                 2        2.99  10/24/19 17:20       967 12th St, New York City, NY 10001
3      259361          27in FHD Monitor                 1      149.99  10/14/19 22:26  628 Jefferson St, New York City, NY 10001
4      259362          Wired Headphones                 1       11.99   10/7/19 16:10         534 14th St, Los Angeles, CA 90001
..        ...                       ...               ...         ...             ...                                        ...
277    259623  Apple Airpods Headphones                 1      150.00  10/20/19 21:12      128 River St, San Francisco, CA 94016
278    259624    34in Ultrawide Monitor                 1      379.99  10/30/19 12:45                60 9th St, Austin, TX 73301
279    259625    AAA Batteries (4-pack)                 1        2.99  10/30/19 18:37       946 13th St, San Francisco, CA 94016
280    259626    AAA Batteries (4-pack)                 2        2.99  10/22/19 15:15            419 South St, Seattle, WA 98101
281    259627    AAA Batteries (4-pack)                 1        2.99   10/9/19 20:05        30 Lake St, San Francisco, CA 94016

[282 rows x 6 columns]