# **Ingesting JSON data with pandas**

- When developing a data pipeline, you may have to work with non-tabular data and data sources, such as APIs or JSON files. In this exercise, we'll practice extracting data from a JSON file using pandas.

- pandas has been imported as pd, and the JSON file you'll ingest is stored at the path "testing_scores.json".

**Instructions**

- Update the extract() function read a JSON file into a pandas DataFrame, orienting by records.
- Pass the path testing_scores.json to the extract() function, and store the output to a variable called raw_testing_scores.
- Print the head of the raw_testing_scores DataFrame.

In [ ]:
def extract(file_path):
  # Read the JSON file into a DataFrame
  return pd.read_json(file_path, orient="records")

# Call the extract function with the appropriate path, assign to raw_testing_scores
raw_testing_scores = extract("testing_scores.json")

# Output the head of the DataFrame
print(raw_testing_scores.head())

In [ ]:
              street_address       city  math_score  reading_score  writing_score
02M260  425 West 33rd Street  Manhattan         NaN            NaN            NaN
06M211    650 Academy Street  Manhattan         NaN            NaN            NaN
01M539   111 Columbia Street  Manhattan       657.0          601.0          601.0
02M294      350 Grand Street  Manhattan       395.0          411.0          387.0
02M308      350 Grand Street  Manhattan       418.0          428.0          415.0

`orient="records":`

- The JSON data is expected to be in the form of a list of records (dictionaries), where each dictionary corresponds to a row in the DataFrame.

When this JSON data is read with `orient="records"`, it results in a DataFrame like this:

In [ ]:
   column1 column2
0  value1a  value2a
1  value1b  value2b
2  value1c  value2c

`orient="columns":`

- The JSON data is expected to be in the form of a dictionary of lists, where each key corresponds to a column name and the associated value is a list of column values.

When this JSON data is read with `orient="columns"`, it results in the same DataFrame as above:

In [ ]:
   column1 column2
0  value1a  value2a
1  value1b  value2b
2  value1c  value2c

**Summary**

- Use orient="records" when your JSON data is a list of dictionaries, each representing a row.
- Use orient="columns" when your JSON data is a dictionary of lists, each representing a column.