# **Transforming JSON data**

- Chances are, when reading data from JSON format into a dictionary, you'll probably have to apply some level of manual transformation to the data before it can be stored in a DataFrame. This is common when working with nested dictionaries, which you'll have the opportunity to explore in this exercise.

- The "nested_school_scores.json" file has been read into a dictionary available in the raw_testing_scores variable, which takes the following form:

In [ ]:
{
    "01M539": {
        "street_address": "111 Columbia Street",
        "city": "Manhattan",
        "scores": {
              "math": 657,
              "reading": 601,
              "writing": 601
        }
  }, ...
}

**Instructions**

- Loop through both the keys and values of the raw_testing_scores dictionary.
- Extract the "street_address" from each dictionary nested in the raw_testing_scores object.

In [ ]:
normalized_testing_scores = []

# Loop through each of the dictionary key-value pairs
for school_id, school_info in raw_testing_scores.items():
	normalized_testing_scores.append([
    	school_id,
    	school_info.get("street_address"),  # Pull the "street_address"
    	school_info.get("city"),
    	school_info.get("scores").get("math", 0),
    	school_info.get("scores").get("reading", 0),
    	school_info.get("scores").get("writing", 0),
    ])

print(normalized_testing_scores)

In [ ]:
[['02M260', '425 West 33rd Street', 'Manhattan', None, None, None]]