# **Transforming and cleaning DataFrames**

- Once data has been curated into a cleaned Python data structure, such as a list of lists, it's easy to convert this into a pandas DataFrame. You'll practice doing just this with the data that was curated in the last exercise.

- Per usual, pandas has been imported as pd, and the normalized_testing_scores variable stores the list of each schools testing data, as shown below.

In [ ]:
[
    ['01M539', '111 Columbia Street', 'Manhattan', 657.0, 601.0, 601.0],
    ...
]

**Instructions**

- Create a pandas DataFrame from the list of lists stored in the normalized_testing_scores variable.
- Set the columns names for the normalized_data DataFrame.

In [ ]:
# Create a DataFrame from the normalized_testing_scores list
normalized_data = pd.DataFrame(normalized_testing_scores)

# Set the column names
normalized_data.columns = ["school_id", "street_address", "city", "avg_score_math", "avg_score_reading", "avg_score_writing"]

normalized_data = normalized_data.set_index("school_id")
print(normalized_data.head())

In [ ]:
                 street_address       city  avg_score_math  avg_score_reading  avg_score_writing
school_id                                                                                       
02M260     425 West 33rd Street  Manhattan             NaN                NaN                NaN
06M211       650 Academy Street  Manhattan             NaN                NaN                NaN
01M539      111 Columbia Street  Manhattan           657.0              601.0              601.0
02M294         350 Grand Street  Manhattan           395.0              411.0              387.0
02M308         350 Grand Street  Manhattan           418.0              428.0              415.0